<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUSCA TRAMPO</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <section class="container-preto">
        <img id="bt-logo" 
            src="/imagens/BUSCA TRAMPO Logo.png" 
            alt="BUSCA TRAMPO logo">
        <p>Buscando freelancers talentosos?</p>
        <strong>No Busca Trampo você encontra os profissionais perfeitos para seus projetos!</strong>
    </section>
    <section class="container-branco">
        <p>Entre em contato com nosso time de desenvolvimento:</p>
        <a href="">
            <img id="gt-logo" 
                src="/imagens/github logo.png" 
                alt="github logo">
        </a>
        <div class="botoes_login-cadastro">
            <a id="botao_login" href="">Login</a>
            <a id="botao_cadastro" href="">Cadastrar</a>
        </div>
    </section>
</body>